<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="app.js"></script>
	<title>ToDo</title>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="firstCtrl">
	<h1>Add task...</h1>
	<h3>Remain {{remain()}} for {{tasksArr.length}}</h3>
		<div class="forform">
			<form ng-submit="addTask()">
				<input type="text" ng-model="tempInput" required/>
				<button ng-disabled="frm.$invalid">Add</button>
			</form>

			<button class="delete" ng-click="deleteTask()">Del</button>
		</div>

		<ul>
			<li ng-repeat="task in tasksArr track by $index" ng-dblclick="toggle = !toggle" ng-class="{'editing':toggle}">
				<div class='view'>
					<input type="checkbox" ng-model="task.done" />
					<span class="li-spn" ng-class="{'done':task.done}">{{task.text}}</span>
				</div>
				<input class="edit" type="text" ng-model="task.text" ng-keyup="editOnEnter($event)"/>
			</li>
		</ul>
		
</body>
</html>