body {
	background: #27282c;
}
/*	Header	*/
h1 {
	color:#fff;
	font-size:40px;
	margin-top: 40px;
	text-align: center;
	width: 500px;
}
h3 {
	color:#fff;
	font-size:25px;
	margin-top: 25px;
	text-align: center;
	width: 500px;
}
/*	form	*/
.forform {
	width: 500px;
	margin-left: 20px;
}
form {
	float: left;
	margin-bottom: 15px;
	text-align: center;
}
form input{
	border:none;
	border-radius: 4px;
	background: #fff;
	color: #738289;
	padding: 15px;
	margin-right: 20px;
	width: 300px;
}
.btn-red {
	background: #ff5235;
	border:none;
	border-radius: 4px;
	font-weight: bold;
	font-size: 16px;
	margin-right: 20px;
	padding: 13px;
}
.btn-blue {
	background: #5c9bb7;
	border:none;
	border-radius: 4px;
	float: left;
	font-weight: bold;
	font-size: 16px;
	padding: 13px;
}
/*	Search	*/
.bar{
	background-color:#5c9bb7;

	background-image:-webkit-linear-gradient(top, #5c9bb7, #5392ad);
	background-image:-moz-linear-gradient(top, #5c9bb7, #5392ad);
	background-image:linear-gradient(top, #5c9bb7, #5392ad);

	box-shadow: 0 1px 1px #ccc;
	border-radius: 2px;
	clear: both;
	width: 460px;
	padding: 10px;
}
.bar input{
	background:#fff no-repeat 13px 13px;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkU5NEY0RTlFMTA4NzExRTM5RTEzQkFBQzMyRjkyQzVBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkU5NEY0RTlGMTA4NzExRTM5RTEzQkFBQzMyRjkyQzVBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RTk0RjRFOUMxMDg3MTFFMzlFMTNCQUFDMzJGOTJDNUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RTk0RjRFOUQxMDg3MTFFMzlFMTNCQUFDMzJGOTJDNUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4DjA/RAAABK0lEQVR42pTSQUdEURjG8dOY0TqmPkGmRcqYD9CmzZAWJRHVRIa0iFYtM6uofYaiEW2SRJtEi9YxIklp07ZkWswu0v/wnByve7vm5ee8M+85zz1jbt9Os+WiGkYdYxjCOx5wgFeXUHmtBSzpcCGa+5BJTCjEP+0nKWAT8xqe4ArPGEEVC1hHEbs2oBwdXkM7mj/JLZrad437sCGHOfUtcziutuYu2v8XUFF/4f6vMK/YgAH1HxkBYV60AR31gxkBYd6xAeF3VzMCwvzOBpypX8V4yuFRzX2d2gD/l5yjH4fYQEnzkj4fae5rJulF2sMXVrAsaTWttRFu4Osb+1jEDT71/ZveyhouTch2fINQL9hKefKjuYFfuznXWzXMTabyrvfyIV3M4vhXgAEAUMs7K0J9UJAAAAAASUVORK5CYII=);
	border: none;
	width: 100%;
	line-height: 19px;
	padding: 11px 0;
	border-radius: 2px;
	box-shadow: 0 2px 8px #c4c4c4 inset;
	text-align: left;
	font-size: 14px;
	font-family: inherit;
	color: #738289;
	font-weight: bold;
	outline: none;
	text-indent: 40px;
}
/*	Check All	*/
.CheckAll {
	margin: 15px 0;
	padding: 15px;
}
/*	Tasks	*/
ul {
	clear: both;
	margin-left: -20px;
	width: 481px;
}
li {
	border:1px solid #5c9bb7;
	border-radius: 4px;
	list-style:none;
	margin-bottom: 5px;
	padding: 10px;
}
li div input {
	margin-left: 10px;
}
li div span {
	color: #fff;
	font-size: 20px;
	padding-left: 10px;
}
.done{
	color:#ccc;
	text-decoration: line-through;
}
li .edit {
	display: none;
}
li.editing {
	background: #5c9bb7;
	border:none;
	width:460px;
}
li.editing .view {
	display: none;
}
li.editing .edit {
	background: #fff;
	border: none;
	border-radius: 4px;
	color: #738289;
	display: block;
	font-size: 18px;
	margin: 0;
	padding: 10px;
	width: 440px;
}
